[Unit]
Description=ExpressJS App

[Service]
ExecStart=/usr/bin/node /var/code/bin/www
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=App
Environment=NODE_ENV=production PORT=3000

[Install]
WantedBy=multi-user.target
